{
  "bracketSpacing": false,
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@",
    "^#",
    "^[./]"
  ],
  "importOrderTypeScriptVersion": "5.6.3",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "semi": false,
  "singleQuote": true
}
